
<% if logged_in? %>
<!-- ログイン後の一覧表示 -->

<button type="button" class="btn btn-outline-primary mb-3"><%= link_to '新規タスクの登録', new_task_path %></button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">タスク内容</th>
      <th scope="col">状態</th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
  <tbody>
    <tr>
      
      <th scope="row"><%= task.id %></th>
      <td><%= link_to task.content, task %></td>
      <td><%= task.status %></td>
    </tr>
  </tbody>
  <% end %>
</table>


<%= paginate @tasks %>


<% else %>

<% end %>

