
<% if logged_in? %>
<!-- ログイン後の一覧表示 -->
<p>ユーザ名: <%= current_user.name %></p>
<button type="button" class="btn btn-outline-primary mb-3"><%= link_to '新規タスクの登録', new_task_path %></button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">task</th>
      <th scope="col">stats</th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
  <tbody>
    <tr>
      
      <th scope="row"><%= task.id %></th>
      <td><%= link_to task.content, task %></td>
      <td><%= task.status %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<!--<ul>-->
<!--    <% @tasks.each do |task| %>-->
<!--        <li>[<%= task.id %>] : <%= link_to task.content, task %> ( <%= task.status %> ) </li>-->
<!--    <% end %>-->
<!--</ul>-->
<%= paginate @tasks %>


<% else %>
<!-- ログイン前の表示はログイン画面に遷移させるため不要 -->

<!--<div class="center jumbotron">-->
<!--    <h1 class="display-6">シンプルなタスクリスト</h1>-->
<!--    <p class="lead">機能を利用するには会員登録が必要です</p>-->
<!--    <button type="button" class="btn btn-outline-primary"><%= link_to '会員登録はこちら', signup_path %></button>-->
<!--</div>-->
<% end %>

